<h1> <%= @team.name %> </h1>
<p> <%= @team.name %>'s mascot is <%= @team.mascot %> </p>
<%= image_tag(@team.image, alt:'No image', width: 200) %>
<% @team.players.each do |player| %>
  <%= link_to("#{player[:name]}", player_path(player[:id])) %>
  <% end %>